@charset "uft-8";
/*Corpo inicial*/
body{
    margin: -10;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(246, 247, 245);
    
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*imagem da Caixa do nav*/
section{
    width:100%;
    height: 95vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Caixa do nav*/
nav{
    margin: 5% 10%;
    margin-bottom: 0.5em;
    font: 2em;
    box-shadow: 0 5px 15px rgba(243, 241, 241, 0.767);
    background: rgba(242, 248, 244, 0.76);
    display:flex ;
    align-items: center;
    height: 10%;
    padding: 0% 5%;
    justify-content: center;
}
nav ul{
    display: flex;
}

/*letras da nav*/
nav ul li a{
    margin: 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    font-weight: 100%;
    color: #40423ff8;
}

/*Cor Home*/
.ativar{
    font-weight: bold;
    color: seagreen;
}
/*caixa de perguntas questionario*/
.control{
    width: 90%;
    background: transparent;
    padding: 2.5%;
    border-radius: 0%;
    margin-bottom: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border: 0;
    border-bottom: 2px solid;
}

/* questionario inicial da esquerda*/
.questionary-container{
    position: absolute;
    left: 10%;
    top: 10%; /* sobe ou desce a caixa do questionário*/
    width: 27%;
    
}

/*texto acima do quetionario*/
.finde{
    color:black ;
    font-family: 'Architects Daughter', cursive;
    font-size: 150%;
}
.finde p{
    width: 100%;
    display: flex;
}

/*caixa e letras do box*/
.Questionario{
    display: inline-table;/*inline para tirar a box ou table*/
    margin: 0% 0%;
    background-color:#12767652;
    box-shadow: 0px 5px 15px rgba(230, 219, 219, 0.5);
    border-radius: 5%;
    width: 100%;
  
}

.Questionario p:nth-child(1), .Questionario p:nth-child(2), .Questionario p:nth-child(3), .Questionario p:nth-child(4), .Questionario p:nth-child(5), .Questionario p:nth-child(6), .Questionario p:nth-child(7), .Questionario p:nth-child(8){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 0%;
    padding: 0.5%;
    
}

/*Texto botões, cor da letra e de fundo*/
.questionary-container button{
    width: 35%  20%;
    height: 10% 2%;
    border-radius: 5% ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 160%;
    outline: none;
    margin: -5% 0%;
    display: flex;
    position: absolute;
    top: 103%;
}


/*botão comentário*/
.share-btn{
    background-color: rgba(0, 0, 0, 0.89);
    color: #ffffff;
    border: none;
}
button:active{
    transform: scale(1.1);
   
}

/*Imagem lado questionário*/
.logo{
    
    position: absolute;
    bottom: 5%;
    left: 40%;
    display: flex;
}

/*Caixa de fundo da explicação*/
.about-us{
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    border-radius: 20%;
    box-shadow: 1px 1px 10px;
    display: flex;
    margin: 0% auto 3% auto ;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}


/*Imagem do logo(lado esquerdo)*/
.about-us img{
    height: 100%;
}

/*Breve explicação da nossa história*/
.history{
    width: 150%;
    ;
}
.history p:nth-child(1){
    color:seagreen ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 175%;
    line-height: 50%;
}
.history p:nth-child(3), .history p:nth-child(2), .history p:nth-child(4){
    color:gray ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 70%;
    line-height: 50%;
}


/*botão cadastro e Blog*/
.history button{
    width: 30%;
    height: 100%;
    color:#fffefe;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #1dd2db;
}
/*Serviços do app texto cor da letra e de fundo*/
.servicesapp{
    width: 80%;
    height: 550px;
    background-color:#127676 ;
    padding: 2% 10% 0px 10%;
}
.servicesapp-text p:nth-child(1){
    color: #2CD029;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 300%;
    line-height: 10%;
}
.servicesapp-text p:nth-child(2){
    color: #e9f3e9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 110%;
    line-height: 5%;
}
/*cor de fundo dos serviços do app*/
.servicesapp-text p:nth-child(3){
    color: #C2F5AA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75%;
    line-height: 5%;
}
.servicesapp-text{
    width: 500%;
    margin:5% 0%;
}

/*Botão de serviços do pp*/
.servicesapp-text button{
    width: 30%;
    height: 5%;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 150%;
    outline: none;
    margin: 0% 0%;
    display: inline-table;
    position: absolute;
    right: 8%;
    top: 165%;
}
.donwloand{
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}

/*Caixa de fundo para imagens*/
.box-1,.box-2,.box-3{
    width: 30%;
    height: 500%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
    color: #1dd2db;
    margin: 0px auto 20px auto ;
    border-radius: 5%;

}
/*Alinhamento delas*/
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1{
    background-position: center;
}


/*Detalhes de cor da caixinha do blog*/
.box-1 p:nth-child(1), .box-2 p:nth-child(1), .box-3 p:nth-child(1){
    color: gainsboro ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    line-height: 0%;
    
}

/*Escrita, centralização e background da área de contato*/
.contact-me{
    width:100%;
    height:70%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: rgb(7, 12, 7);
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid seagreen;

}

/*botão da area de contato*/
.contact-me button{
    width: 40%;
    height: 10%;
    background-color:#1dd2db;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: bold;
    color: white;
}

/*rodapé e suas divisões*/
footer{
    
    bottom: 50%;
    width: 100%;
    background: whitesmoke;
    height: 15%;
    padding: 0% 5%;
}

.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 2% 0%;
}

/*textos do rodapé*/
.right-box, .center-box, .left-box{
    width:100%;
    height:80%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 100%;
}
