@charset "uft-8";

/*Corpo inicial*/
body{
    margin: -10;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*imagm da Caixa do nav*/
section{
    width: 100%;
    height: 95vh;
    background-image: url("fot.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Caixa do nav*/
nav{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px;
    padding: 0px 5%;
}
nav ul{
    display: flex;
}

/*letras da nav*/
nav ul li a{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

/*Img logo*/
.logo{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 22px;
}

/*Cor Home*/
.ativar{
    font-weight: bold;
    color: seagreen;
}

/*Texto inicial da esquerda*/

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, 42%);
}

.Quetionario{
    display: inline-table;
    margin: 20px 20px;
}

/*Texto botões, cor da letra e de fundo*/
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}
.hire-btn{
    border:2px solid #373636;
    column-rule: #373636;
}
.down-cv{
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
}
button:active{
    transform: scale(1.1);
}
/*Imagem logo*/
.logo{
    height: 300px;
    position: absolute;
    bottom: 40px;
    left: 70%;
    transform: translateX(-70%);
}

/*Caixa de fundo da explicação*/
.about-container{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px;
    display: flex;
    margin: 0px auto 20px auto ;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
/*Imagem*/
.about-container img{
    height: 250px;
}

/*Texto 2 explicação do funcionamento do  site*/
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color:yellow ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 5px;
}
.about-text p:nth-child(2){
    color:blue ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 5px;
}
.about-text p:nth-child(3), .about-text p:nth-child(4){
    color: purple;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 15px;
}


/*botão cadastro e algo mais*/
.about-text button{
    width: 120px;
    height: 40px;
    color:#ffffff;
    outline: none;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}
/*Serviços texto cor da letra e de fundo*/
.services{
    height: 600px;
    background-color: blanchedalmond;
    padding: 2% 10% 0px 10%;
}
.services-text p:nth-child(1){
    color: #3e3d3d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
}
.services-text p:nth-child(2){
    color: #3e3d3d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
}
/*cor de fundo dos serviços*/
.services-text p:nth-child(3){
    color: #7e7d7d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.services-text{
    width: 500px;
    margin:50px 0px;
}

/*Caixa de fundo para imagens*/
.box-1,.box-2,.box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*Alinhamento delas*/
.box-container{
    display: flex;
    justify-content: space-between;
}


/*.box-1{ bacground img: url()}*/


/*Detalhes de cor da caixinha do blog*/
.box-1 span, .box-2 span, .box-3 span{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;   
}
.box-1 p:nth-child(2), .box-2 p:nth-child(2), .box-3 p:nth-child(2){
    color: yellow ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 23px;
    line-height: 0px;
}
.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3){
    color: #8f8f8f; ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 23px;
    line-height: 0px;
    width: 230px;
    margin:0px 0px 20px 0px;
    text-align: center;
}
.box-1 button, .box-2 button, .box-3 button{
    width: 100px;
    height: 30px;
    background-color:rgb(116, 13, 13);
    border: none;
    outline: none;
    border-radius: 5px;
}


/*Escrita, botão no final, centralização e background da área de contato*/
.contact-me{
    width:100%;
    height:280px;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-me p{
    color: rgb(216, 14, 138);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #0717ad;

}
.contact-me button{
    width: 200px;
    height: 40px;
    background-color:rgb(63, 116, 13);
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: bold;
}
/*Escrita, tamanho, cor e formato das palavras no rodapé*/
.footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer p:nth-child(1){
font-size: 30px;
    font-weight: bold;
    color: turquoise;
    line-height: 10px;
}
footer p:nth-child(2){
    font-size: 16px;
    width: 600px;
    color: rgb(13, 11, 126);
    text-align: center;
}

/*Bolinha do icones enfileramento deles*/
.social-icons a{
    height: 40px;
    width: 40px;
    display: flex;
    background-color: #835050;
    justify-content: center;
    align-items: center;
    margin: 20px 40px; /*espaçamento entre as bolinhas*/
    border-radius: 50%;
}
.social-icons{
    display: flex;
}


.copyright{
    color: violet;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

/* Bolinhas e imagem para acessar as mídias sociais*/
.social-icons i{
    color: #000000;
}
.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 2px 12px;
}
.social-icons a:hover i{
    color:#ffffff;
    transition: all ease 0.5;
}
